<h1>Here you'll find your perfect travel buddy</h1>




{{#each journeys}}



    <h3><a href="/buddyProfile/{{_id}}">{{owner.username}}</a></h3>
    <p>{{destination}}</p>
    <p>{{startDate}} - {{endDate}}</p>
    {{description}}
    
    <hr>




{{/each}}
